# .vscodeignore
.vscode/**
node_modules/**
**/node_modules/nyc/**
**/node_modules/mocha/**
src/**
out/**
**/*.ts
!**/*.js.map
.esbuild.js
**/*.test.*
**/test/**
.gitignore
.eslint*
.prettier*
tsconfig.json
*.code-workspace
yarn.lock
package-lock.json
coverage/**
**/coverage/**


# Keep these
!dist/
!resources/